.main-slider {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 0 15px;
  text-align: center;
  border: 5px solid rgb(0, 0, 0, 0.2);
  border-radius: 50px;
  box-shadow: 0 20px 20px rgb(0, 0, 0, 0.2);
}

.movies-slider {
  display: flex;
  justify-content: space-between;
  min-width: 1440px;
  margin: 5px;
  gap: 25px;
  overflow: auto;
  overflow-y: hidden;
}

.title-slider {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  padding: 8px 30px 1px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
