.movie-body {
  position: relative;
  display: flex;
  height: 100vh;
  max-width: 1700px;
  overflow: hidden;
  padding: 30px;
}

.movie-background {
  position: absolute;
  justify-content: center;
  align-items: center;
  
}

.movie-container {
  position: absolute;
  height: 100%;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}


.movie-details {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.movie-description {
  font-size: 16px;
}
