.movies-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 15px;
}

.filter {
  align-items: center;
  height: 30%;
  display: flex;
  border: 5px solid gold;
}

.movies-page {
  height: 70%;
  display: flex;
  border: 5px solid blue;
  align-items: center;
}
