.movies-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 15px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  height: 20%;
  align-content: top;
  justify-content: space-around;
  gap: 5px;
}

/* .select-settings{
background-color: ;
} */
.select {
  width: 250px;
  font-size: 18px;
  color: black;
  margin-top: 5px;
}

.movies-page {
  display: flex;
  height: 100%;
  gap: 5px;
  white-space:pre-wrap;
}

.movies-main {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  height: 100%;
  padding: 6px;
}

.movies-main img {
  max-width: 100%;
  max-height: 100%;
}
