.movies-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 25px;
}

.movies-filter {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.movies-main {
  display: flex;
  flex-flow: wrap;
  width: 99%;
  height: 100%;
  padding: 6px;
  gap: 35px 70px;
  justify-content: space-around;
}

.movies-main img {
  max-width: 100%;
  max-height: 100%;
}
