.logo {
  display: flex;
  width: 100%;
  justify-content: center;
  
}

.side-box {
  height: 85%;
  width: 265px;
  margin: 20px 15px;
  padding: 15px 0px;
  box-sizing: border-box;
  font: normal 17px/1 Arial, Helvetica, sans-serif;
  color: white;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 3px;
  background: linear-gradient(#090a0f 1%, #222d3a 100%);
  opacity: 0.9;
  border-radius: 820% / 75% 75% 50% 50%;
  text-align: left;
  text-decoration: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  padding: 15px 0;
  height: 600px;
  width: 90%;
  gap: 35px;
}

.home-link {
  text-decoration: none;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: left;
  gap: 35px;
}

.text-name {
  font-size: 18px;
  padding-left: 23px;
  text-decoration: none;
}

.search-panel {
  display: inline-flex;
  width: 100%;
}

.search-nav {
  width: 100%;
  height: 30px;
  background: #2b303b;
  border: none;
  font-size: 20px;
  color: white;
  padding-left: 5px;
  border-radius: 8px;
}

.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: left;
}

svg {
  margin: auto;
}
