
.logo {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 12px;
  fill: inherit;
  }

.side-box {
  height: 85%;
  width: 265px;
  margin: 20px 15px;
  padding: 15px 0px;
  box-sizing: border-box;
  font: normal 17px/1 Arial, Helvetica, sans-serif;
  color: white;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 3px;
  background: linear-gradient(#090a0f 1%, #222d3a 100%);
  opacity: 0.9;
  border-radius: 820% / 75% 75% 50% 50%;
  text-align: left;
  text-decoration: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  padding: 15px 0;
  height: 400px;
  width: 90%;
  gap: 25px;
}

.home-link {
  text-decoration: none;
}
