
.sidebar {
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
    padding: 15px 0;
    height: 400px;
    width: 350px;
    gap: 25px;
    left: 0;
    justify-content: top;
  }
  
    .home-link {
    text-decoration: none;
  }