.footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    letter-spacing: 3px;
    background: rgb(25, 25, 25, 0.2);
    opacity: 0.7;
    width: 100%;
    bottom: 0;
    font-size: 15px;
    left: 135px;
    
  }