
.movie-page-page-background {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  height: 110%;
  width: 84%;
  opacity: 0.1;
  filter: blur(4px);
}

.movie-page-body {
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}

.movie-page-trailer-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  filter: blur(0.5px);
  margin: 15px 15px 15px 5px;
  align-items: center;
}

.movie-page-poster-box {
  width: 30%;
  height: 70%;
}

.movie-page-poster {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 8px solid black;
}
.movie-page-details-box {
  display: flex;
  gap: 5px;
}

.movie-page-details {
  text-align: left;
  width: 44%;
  height: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(0, 0, 2, 0.9);
  color: white;
  font-size: 23px;
}

.movie-page-description {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(0, 0, 2, 0.9);
  color: white;
  font-size: 23px;
  overflow: auto;
  margin: 0 15px 0 5px;
}

.movie-page-description-title {
  font-weight: bold;
  text-align: left;
  padding: 10px;
}
.movie-page-description-text {
  text-align: justify;
  padding: 10px;
}

.video-container {
  background: #000;
  color: #fff;
  width: 65%;
  margin: 0 25px 0 25px;
}
.video-player {
  display: flex;
  width: 100%;
}
.video-hud {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.video-hud__element {
  cursor: pointer;
  height: 20px;
}
.video-hud__action {
  width: 25px;
}
.video-hud__action_play {
  background: white;
  border-radius: 12px;
}
.video-hud__action_pause {
  background: #c00;
}
.video-hud__mute {
  width: 30px;
  border-radius: 100px 100px 100px 100px;
}
.video-hud__mute_true {
  background: #c00;
}
.video-hud__mute_false {
  background: white;
}

