.app {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row;
  width: 1000px;
}
.content {
  display: flex;
  height: auto;
  
  margin: 10px;
  padding: 5px;
  flex: 0 1 auto;
  align-self: flex-start;
  gap: 15px;
}
.content:nth-child(2) {
  flex: 1 1 auto;
}
.side-bar {
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  border: none;
  font: normal 17px/1 Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 3px;
  white-space: pre;
  background: rgb(25, 25, 25);
  text-align: left;
}