.app {
  text-align: center;
  max-width: 1140px;
  margin: 0 auto;
  flex-direction: row;
  width: 100%;
}
.content {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  margin: 15px;
  padding: 5px;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 0 1 auto;
  gap: 15px;
}
.child-active {
  flex-grow: 1;
}

.content:nth-child(2) {
  flex: 1 1 auto;
}
.side-box {
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  border: none;
  font: normal 17px/1 Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 3px;
  white-space: pre;
  background: rgb(25, 25, 25);
  text-align: left;
  text-decoration: none;
}