* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
.active {
  color: var(--color-active);
  cursor: default;
}
